server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sports_tracker
    username: sports
    password: sports
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

logging:
  level:
    dev.villanidev.sportstracker.streaming: DEBUG

grpc:
  server:
    port: 9090
